* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100vw;

   font: 1rem 'Helvetica Neue', Arial, sans-serif;
   background-color: #ddd;
   color: #121214;
}